<div class="page-header">
  <h1>my shoppy list</h1>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        Public ID:
      </div>
      <div clss="col-md-8">
        {{ shoppingListId }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        Public link:
      </div>
      <div clss="col-md-8">
        <a ng-href="{{shoppingListLocation}}">Copy me</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="container">
      <div class="row" ng-repeat="item in shoppingList.items">
        <div class="col-md-2">
          <input type="checkbox" ng-model="item.done" ng-click="saveShoppingList()">
        </div>
        <div class="col-md-10" ng-class="{done: item.done}">
          {{ item.name }}
        </div>
      </div>
    </div>
  </div>
</div>
